<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <div style="text-align:center">
    <button class="btn" (click)="playerJoin()">Simulate Player Join</button>
    <button class="btn" (click)="playerLeave()">Simulate Player Leave</button>
    <button class="btn" (click)="reset()">Reset player count</button>
  </div>

  <div style="text-align:center">
    Number of Players: {{ playerCount | async }}
  </div>
</div>

